<section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 font-['Assistant']">
        <div class="mx-auto max-w-3xl" *ngIf="!isCartEmpty()">
            <header class="">
                <h2 class="text-xl font-semibold text-gray-900 sm:text-3xl">
                    Your cart
                </h2>
            </header>

            <div class="mt-8">
                <ul class="space-y-4" *ngIf="cartItems.length > 0;">
                    <li class="flex items-center gap-4" *ngFor="let item of cartItems">
                        <img src="{{item.imageUrl}}" alt="" class="h-28 w-28 rounded object-cover" />
                        <div>
                            <h3 class="text-lg md:text-2xl text-[#121212]">{{item.name}}</h3>

                            <dl class="mt-0.5 space-y-px text-[10px] text-[#121212]">
                                <div>
                                    <dt class="inline text-sm md:text-base">Size:</dt>
                                    <dd class="inline text-sm md:text-sm"> {{item.size}}</dd>
                                </div>

                                <div>
                                    <dt class="inline text-sm md:text-base">Color:</dt>
                                    <dd class="inline text-sm md:text-sm">Black</dd>
                                </div>
                                <div>
                                    <dt class="inline text-sm md:text-base">{{item.quantity}} x </dt>
                                    <dd class="inline text-sm md:text-sm">{{item.unitPrice}}</dd>
                                </div>
                            </dl>
                        </div>

                        <div class="flex flex-1 items-center justify-end gap-2">
                            <form>
                                <div>
                                    <label for="Quantity" class="sr-only"> Quantity </label>

                                    <div class="flex  items-center border border-[#121212] rounded">
                                        <button type="button"
                                            class="w-5 h-10 leading-10 text-[#121212] transition hover:opacity-75"
                                            (click)="decrement(item)" [disabled]="item.quantity === 1">
                                            &minus;
                                        </button>

                                        <input type="number" id="Quantity" value="{{item.quantity}}" disabled
                                            class="text-[#121212] w-10 border border-[#121212]  focus:ring-2 focus:ring-black h-10 border-transparent text-center [-moz-appearance:_textfield] sm:text-sm [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none" />
                                        <button type="button"
                                            class="w-5 h-10 leading-10 text-[#121212] transition hover:opacity-75"
                                            (click)="increment(item)">
                                            &plus;
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <button class="text-[#121212] transition hover:text-red-600" (click)="removeFromCart(item)">
                                <span class="sr-only">Remove item</span>

                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                            </button>
                        </div>
                    </li>
                </ul>
                <div class="mt-8 flex justify-end border-t border-gray-100 pt-8">
                    <div class="w-screen max-w-lg space-y-4">
                        <dl class="space-y-0.5 text-sm text-gray-700">
                            <!-- <div class="flex justify-between">
                                <dt>Subtotal</dt>
                                <dd>£250</dd>
                            </div>

                            <div class="flex justify-between">
                                <dt>VAT</dt>
                                <dd>£25</dd>
                            </div>

                            <div class="flex justify-between">
                                <dt>Discount</dt>
                                <dd>-£20</dd>
                            </div> -->

                            <div class="flex justify-between !text-base font-medium">
                                <dt>Total</dt>
                                <dd>{{getTotalPrice() | currency : '₱ '}}</dd>
                            </div>
                        </dl>



                        <div class="flex justify-end">
                            <button routerLink="/checkout"
                                class="w-32 bg-[#121212] text-white hover:text-[#121212] border hover:border-[#121212] hover:bg-white px-4 py-2 font-medium mb-2 md:mb-0 md:mr-2 ">Buy
                                now</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="flex justify-center items-center mx-auto text-center" *ngIf="isCartEmpty()">
            <div class="font-['Assistant']">
                <img src="assets/img/empty-cart.png" alt="">
                <h1 class="font-semibold text-xl">Your cart is empty</h1>
                <h5>Please add something in your Cart</h5>
            </div>
        </div>
    </div>
</section>